# General
zope.interface>=4.0.5,<=4.1

# NLTK
nltk>=2.0.4,<=2.1

# User Info Providers
facebook-sdk>=0.4,<=0.5

# Local development
flake8
autopep8>=0.9,<=0.10
pydoctor

# For pydoctor
Twisted>=13.0.0,<=13.1
nevow # for pydoctor
